*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  font: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  background-color: gray;
  padding: 50px;
  border: 3px solid black;
  border-radius: 30px;
}

.calculator__display {
  width: 380px;
  height: 100px;
  border: 3px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 5px;
}

.calculator__operation-line,
.calculator__number-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.calculator__operation-line {
  height: 40%;
  font-size: 20px;
}

.calculator__number-line {
  height: 60%;
  font-size: 40px;
}

.calculator__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 380px;
}

.calculator__button {
  border: 3px solid black;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.calculator__button--size-double {
  width: 180px;
}